*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
.mainPage{
    background: url("./Images/main.jpg");
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}

.text{
    
    font-family: 'Caveat', cursive;
}

.aboutBtn{
    background-color: rgb(85, 85, 85);
    font-family: 'Roboto Mono', monospace;
     letter-spacing: 0.2rem;
}