*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}


.mainPage{
    background: url("https://images.pexels.com/photos/1082663/pexels-photo-1082663.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}

.text{
    
    font-family: 'Caveat', cursive;
}

.aboutBtn{
    background-color: rgb(85, 85, 85);
    font-family: 'Roboto Mono', monospace;
     letter-spacing: 0.2rem;
}


iframe{
    height: 20rem;
    width: 20rem;
}

#line{
    width: 0rem;
    height: 1rem;
    display: block;
   border-bottom:   5px solid #c82121;
    animation-name: lineAnimate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes lineAnimate {
    from {width: 0%;}
    to {width: 100%;}
}

.myCard{
    /* From https://css.glass */
background: rgba(255, 255, 255, 0.16);
border-radius: 16px;
box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(8px);
-webkit-backdrop-filter: blur(8px);



}


@media (min-width:200px) {
    .bannerText{
        font-size: 0.7rem;
    }
}

@media (min-width:480px) {
    .bannerText{
        font-size: 1.5rem;
       
    }
}

@media (min-width:600px) {
    .bannerText{
        font-size: 2rem;
    }
}
.scroll{
    position: relative;
    animation-name: scrollAnim;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}


@keyframes scrollAnim {
   from{transform:translateY(0rem)}
   to{transform: translateY(4rem);}

}



